<div class="section1">
    <div class="sub1">
       <p> <br>
</p>
<h6><p style="font-weight: bold;">Mehr als eine Lern-App – DriveHero ist das digitale
Betriebssystem für Fahrschulen.</p>
    <p>
    Die Plattform vereint Theorielernen, Verifikation und Verwaltung in einem<br>
skalierbaren System – regelkonform, datensicher und praxiserprobt.<br><br>
DriveHero bildet als SaaS-Lösung den gesamten digitalen Ablauf ab – von Anmeldung<br>
bis Praxisverwaltung. Das Modell ist modular, mehrsprachig und folgt einem<br>
nutzungsbasierten Preismodell.
</p></h6>
    
   
    </div>
    <div class="sub2">
      <div class="last">
          <h4 style="color: white;text-align: center;">Kernmodule</h4>
<p style="color: white;margin-left: 20px;">
    KI-gestütztes Theorielernen mit adaptiver
Fortschrittslogik
</p>
      </div>
    </div>
 </div>