<div class="section2">
   
    <div class="sub2">
        <img src="images/3.png" alt="" height="350" width="400">
    </div>

     <div class="sub1"><br><br>
       <p> <br>
</p>
<h6><p style="font-weight: bold;">Jetzt ist der Moment für digitale Fahrschulinfrastruktur.<br>
    </p></h6>
<ul style="list-style-type: disc;">
  <li>Gesetzgeber öffnen digitale Prüfwege.</li>  
<li>Fachkräftemangel erfordert flexible Theorieangebote.</li>
<li>Junge Lernende erwarten smarte Formate.</li>
</ul>
Regulierung, Gesellschaft und Technologie fordern eine neue Generation<br>
der Theorieausbildung. Die klassische Lernform ist überholt – digitale<br>
Systeme werden zum Standard.
    </div>
 </div>