<div class="section1">
    <div class="sub1">
       <p> <br>
Infrastruktur der
Verkehrsausbildung.</p>
<h6><p>DriveHero baut ein skalierbares, datengestütztes System für die 
    <br>theoretische Fahrausbildung – regulatorisch anschlussfähig, KI-gestützt, 
    <br>wissenschaftlich begleitet.</p></h6>
    
    <button class="btn btn-outline-secondary" type="submit">Jetzt Beteiligung anfragen</button>
    </div>
    <div class="sub2">
        <img src="images/1.png" alt="" height="350" width="400">
    </div>
 </div>